.tracker {
  min-width: 350px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 65px;
}
.pointer {
  color: #555555;
  height: 33px;
  width: 33px;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.selected {
  color: #fff;
  background-color: #664de5;
  border-color: #664de5;
}
.afterline,
.beforeline {
  display: flex;
  align-items: center;
}
.pointer::before,
.pointer::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ddd;
  width: 27px;
}
.pointer::before {
  left: -28px;
}
.pointer::after {
  right: -28px;
}
.selected::before,
.selected::after {
  border-color: #664de5;
}
.nobefore::before,
.noafter::after {
  border: 0px;
}
