.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-style {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.form-style > label {
  font-size: 13px;
  margin-bottom: 5px;
}
.form-style > input,
.workspace-url > input,
.workspace-url > div {
  color: #777;
  border: 1px solid #ddd;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
}
.form-style > input::placeholder,
.workspace-url > input::placeholder {
  color: #ccc;
  opacity: 1;
}
.form-style > input:focus,
.workspace-url > input:focus {
  border: 1px solid #664de5;
}
.purple-btn {
  border: 0px;
  background-color: #664de5;
  color: #fff;
  border-radius: 5px;
  padding: 11px;
  cursor: pointer;
}
